<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">
    {% block title %}
    <title>Easy Ace</title>
    {% endblock %}
    <!-- Bootstrap core CSS -->
		{% load staticfiles %}
    <link href="{% static 'EasyAce/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link rel="stylesheet" type="text/css" href="{% static 'EasyAce/css1.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'EasyAce/information.css' %}" />

    <!--<script src="../../assets/js/ie-emulation-modes-warning.js"></script>-->
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="shortcut icon" href="{% static 'EasyAce/images/icon.ico' %}"/>
    <link rel="apple-touch-icon" href="{% static 'EasyAce/images/icon_c.png' %}"/>
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'EasyAce/images/icon_b.png' %}"/>
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'EasyAce/images/icon_a.png' %}"/>
    {% block jscode %}
    {% endblock %}
  </head>
<body>
  <nav class="navbar navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed toggle-self" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>
        <div class="hidden-xs">
          <img class="logo" src="{% static 'EasyAce/images/logo.png' %}" align="left" />
        </div>
        <div class="visible-xs logo-xs">Easy Ace</div>
            
      </div>
      
      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav nav-self">
					<li {% block index %} {% endblock %} ><a href="/index">Home</a></li>
          <li {% block view_tutor %} {% endblock %} ><a href="/view_tutor">View Tutor</a></li>
          <li {% block for_student %} {% endblock %} ><a href="/for_student">For Student</a></li>
          <li {% block for_tutor %} {% endblock %} ><a href="/for_tutor">For Tutor</a></li>
          <li {% block about %} {% endblock %} ><a href="/about">About Us</a></li>
          <li {% block contact %} {% endblock %} ><a href="/contact">Contact Us</a></li>
          <!--<li class="login"><img src="{% static 'EasyAce/images/login.png' %}"/></li>-->
          {% if user.is_authenticated %}
					<li {% block user %} {% endblock %}><a href="{% url 'main:information' user.id %}">User</a></li>
          <li><a href="{% url 'myAuth:logout' %}">Logout</a></li>
          {% else %}
          <li><a href="{% url 'myAuth:login' %}">Login</a></li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>
  
{% if messages %}
  <div class="messages" style="margin-top: 55px; margin-bottom: 0;">
    {% for message in messages %}
      <div {% if message.tags %} class="alert alert-{{ message.tags }} alert-dismissible"{% endif %} role="alert" style="margin-bottom: 0; text-align: center; padding-top: 5px; padding-bottom: 5px;">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        {{ message }}
      </div>
    {% endfor %}
  </div>
{% endif %}

{% block content %}
  <div>base template content</div>
{% endblock %}
<footer class="footer">
  <div class="copyright">Copyright © 2016</div>
</footer>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{% static 'js/jquery-3.0.0.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
<!--<script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>-->
</body>
</html>
