{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
<title>Contact Easy Ace</title>
{% endblock %}

{% block for_tutor %}
class="active"
{% endblock %}

{% block content %}
<div class="container">
  <div class="my-content">
    <h1 style="text-align: center;">Why is Easy Ace the Best Choice for You?</h1>

    <p>Easy Ace aims to build a group of passionate, professional and top-class tutors in Singapore. We provide resources that help making your teaching experience easy, interesting and fruitful.</p>

    <div class="row">
        <div class="col-xs-2">
            <img src={% static 'images/icon/19.png' %} width="100%" height="100%" style="margin-top: 25px" />
        </div>
        <div class="col-xs-10 inner-content">
            <h2>Professional student matching</h2>
            <p>We recommend students who best suit your requirements on teaching subjects, locations, and time.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-2">
            <img src={% static 'images/icon/5.png' %} width="100%" height="100%" style="margin-top: 25px" />
        </div>
        <div class="col-xs-10 inner-content">
            <h2>Enjoyable Teaching Experience</h2>
            <p>We offer free training session for rookie tutors to kick-off your tutoring career.
            <br/>We offer access to teaching materials through our Teaching Resource Sharing System to lessen your preparation time.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-2">
            <img src={% static 'images/icon/15.png' %} width="100%" height="100%" style="margin-top: 25px" />
        </div>
        <div class="col-xs-10 inner-content">
            <h2>Systematical Teaching Planning</h2>
            <p>You are able to track, record and review all progress to help plan your lessons.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-2">
            <img src={% static 'images/icon/23.png' %} width="100%" height="100%" style="margin-top: 25px" />
        </div>
        <div class="col-xs-10 inner-content">
            <h2>Attractive Incentives and Benefits</h2>
            <p>We innovate a just and fair Star Rating System to value your efforts. The more you teach, the more you are recognized.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-2">
            <img src={% static 'images/icon/14.png' %} width="100%" height="100%" style="margin-top: 25px" />
        </div>
        <div class="col-xs-10 inner-content">
            <h2>Competitive Market Commission</h2>
            <p>We adopt the conventional half-of-1st-month commission and may lower it for special cases.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-2">
            <img src={% static 'images/icon/21.png' %} width="100%" height="100%" style="margin-top: 25px" />
        </div>
        <div class="col-xs-10 inner-content">
            <h2>High Quality Management</h2>
            <p>We sympathize with all your needs and feelings as we were former tuition teachers.
            <br/>When you miss lessons due to urgent reasons, we could provide back-up tutor upon student's request to ensure continuous academic progress.</p>
        </div>
    </div>

    <p>All in all, Easy Ace will definitely bring you the best teaching experience!</p>
    <hr>
    
    <h1>FAQ</h1>
    <h3>General</h3>
    <h2>Q1: Who are we?</h2>
    <p>A: We are a dedicated service provider who aims to lead and revolutionize the tuition industry.</p>
    <h2>Q2: Why are we reliable?</h2>
    <p>A: We are a legal business entity registered with ACRA.</p>
    <h2>Q3: How do we charge?</h2>
    <p>A: We charge 50% of the tuition fee for the first month only.</p>
    <h3>Qualifications and Requirements</h3>
    <h2>Q1: I am new to tuition and I have no experience in teaching, can I become a tutor?</h2>
    <p>A: Yes. If you want, we can provide you with some rookie’s training before the start of your tuition.</p>
    <h2>Q2: What qualification(s) do I need to become a tutor in Easy Ace Tuition?</h2>
    <p>A: You have to possess at least the ‘O’ level or equivalent certification for academic tuition or relevant certification for other field of teaching. E.g., musical certification</p>
    <h3>Tuition Related</h3>
    <h2>Q1: How do I gain higher priority in student allocation?</h2>
    <p>Be mobile
    <br/>Be able to teach subjects which fewer tutors can teach such as Economics, English, Biology and Chemistry
    <br/>Contribute to our Teaching Material Reservoir
    <br/>Fill in every Teaching Record
    <br/>Receive positive feedback from students</p>
    <h2>Q2: Do I need to prepare the teaching materials by myself?</h2>
    <p>A: Not necessarily. We will try our best to support you with all the materials we have to ease your preparation. In exchange, you are strongly encouraged to enrich our common Teaching Material Reservoir with your material and you will be ranked higher in the student allocation.</p>
    <h2>Q3: Is there a trial lesson? Will I be paid for the trial lesson?</h2>
    <p>A: Yes, there is one trial lesson for each tuition case. If the student finds the first allocated tutor unsuitable after the first lesson, we are willing to change the tutor for him. The first lesson conducted will not be charged. However, if the student is satisfied with the first tutor and decide to continue, the first lesson will be chargeable.</p>
    <h2>Q4: What is Star Rating System?</h2>
    <p>This system is used to evaluate tutors’ teaching ability.</p>
    <img src="{% static 'images/Star_Rating_Form.png' %}" width=60% height=60%/>
    <h2>Q5: Why do we have Star Rating System?</h2>
    <p>This system is designed to reward better tutors. If you earn higher Star Rating, you will
    <br/>(a) gain priority to display your name in the front of the tutor list on our website
    <br/>(b) be able to ask for higher price
    <br/>(c) have higher chance to teach group tuitions, thus earning higher income</p>
    <h2>Q6: How likely will you assign me with a new student?</h2>
    <p>A: As we only admit the tutors who pass the pre-teaching screening, you will be more likely to be assigned a student compared to other agencies once we admit you.</p>
    <h2>Q7: Must I fill in the teaching record each time after the lesson?</h2>
    <p>A: Yes. Filling one Teaching Record takes roughly 30 seconds or less. It helps you track your teaching experience and more importantly, you can earn higher priority in the next student allocation.</p>
    <h2>Q8: Will Easy Ace change my student without my permission?</h2>
    <p>A: No. We will never change your student without your permission or any valid reason.</p>
    <h3>Payment</h3>
    <h2>Q1: Will I earn more profits than working for other tuition centers?</h2>
    <p>A: Yes, if you are loyal. As you continue to teach at Easy Ace, your Star Rating increases, your price will generally increase. You can even have higher chance to teach group tuitions, thus earning higher income.</p>
    <h2>Q2: How will I receive my payment(s)?</h2>
    <p>A: You should collect the tuition fee from the students by yourself. However, you must pay us the amount stated on the contract which will be signed right after assignment.</p>
    <h2>Q3: How do I pay Easy Ace?</h2>
    <p>A: Please contact the Tutor Manager and She/he will give you the bank account. If you are not familiar with how to transfer using ATM, please refer to our ATM Transfer Guide (for DBS/POSB ATM).</p>
    <h3>Cancellation and Reschedule of Lessons</h3>
    <h2>Q1: Can I reschedule lessons? Is there a penalty for rescheduling?</h2>
    <p>A: Yes and yes. You should directly inform the Tutor Manager assigned to you and your tutee at least 3 days in advance for cancellation/rescheduling/ addition of lesson so that we can arrange to minimise the loss to the student. Late informing will adversely affect your star rating and thus your pay.</p>
    <h2>Q2: What will happen if I have to cancel the tuition within the 1th month?</h2>
    <p>A: This is strongly discouraged. During the contract period, if you cancel the tuition upon agreement with the student, you will only need to pay half the amount of the money you have earned for the tuition sessions. However, if you cancel the tuition without the permission of the student, you will have to pay the full amount as stated in the tutor’s contract.</p>

    <div class="suspension">
        {% if user.is_authenticated %}
        {% if user.role == "tutor" %}
        <a href="{% url 'main:information' user.id %}"><img class="img-rounded btn-img" src="{% static 'images/icon/Teacher icon.png' %}" width=40%/><div style="color: #037041;">I Want To Become A Tutor</div></a>
        {% else %}
        <a href="{% url 'myAuth:signup' %}"><img class="img-rounded btn-img" src="{% static 'images/icon/Teacher icon.png' %}" width=40%/><div style="color: #037041;">I Want To Become A Tutor</div></a>
        {% endif %}
        {% else %}
        <a href="{% url 'myAuth:signup' %}"><img class="img-rounded btn-img" src="{% static 'images/icon/Teacher icon.png' %}" width=40%/><div style="color: #037041;">I Want To Become A Tutor</div></a>
        {% endif %}
    </div>
    
    
    
    
    
  </div>
</div><!-- /.container -->
{% endblock %}
