{% extends 'base.html' %}
{% block title %}
<title>Feedback</title>
{% endblock %}

{% block content %}
<div class="container">
	{% csrf_token %}
    <form action='/auth/forget_password/' method="post">
    <div class="my-content">
    	<h1 style="text-align: center;">Retrieve Password</h1>
    	<h2>Please Input Your Email Address</h2>
    	<div class="form-group">
    		<input class="form-control" name='email' type='email' placeholder="Email Address" />
  		</div>
	    <input class="btn btn-default btn-login" type="submit" value="Submit"/>
    </div>
</form>
</div>

{% endblock %}
