{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
<title>Easy Ace</title>
{% endblock %}

{% block index %}
class="active"
{% endblock %}

{% block content %}
<div class="container" style="padding-left:5px; padding-right:5px;">
  <div class="row">
    <div class="col-xs-12">
      <img src="{% static 'images/Header.png' %}" class="img-rounded" width=100% height=100%/>
    </div>
  </div>
  
  <div class="row" style="margin-top: 30px; padding-left: 10px; padding-right: 20px">
    <div class="col-sm-2 col-xs-2" style="padding-right: 0; padding-left: 0;">
      <img src="{% static 'images/Strict_Selection.png' %}" width=80% height=80%/>
    </div>
    <div class="col-sm-2 col-xs-10 introduction" style="padding-right: 0; padding-left: 0;">
      <h1>Strict Tutor Selection</h1>
      <p>Primary Screening – Grade for Teaching Subjects</p>
      <p>Secondary Screening – Individual Interview </p>
      <p>Tertiary Screening – Continuous Assessment via Student’s Feedback</p>
    </div>
    <div class="clearfix visible-xs-block"></div>

    <div class="col-sm-2 col-xs-2" style="padding-right: 0; padding-left: 0;">
      <img src="{% static 'images/Core_Values.png' %}" width=80% height=80%/>
    </div>
    <div class="col-sm-2 col-xs-10 introduction" style="padding-right: 0; padding-left: 0;">
      <h1>Core Values</h1>
      <p>Passion</p>
      <p>Integrity</p>
      <p>Accountability</p>
      <p>Professionalism</p>
    </div>
    <div class="clearfix visible-xs-block"></div>
    
    <div class="col-sm-2 col-xs-2" style="padding-right: 0; padding-left: 0;">
      <img src="{% static 'images/Easy_Application.png' %}" width=80% height=80%/>
    </div>
    <div class="col-sm-2 col-xs-10 introduction" style="padding-right: 5px; padding-left: 0;" \>
      <h1>Easy Application</h1>
      <p>30 seconds to register</p>
      <p>5 minutes to build a comprehensive account</p>
      <p>Optional questions for better matching only at your free will</p>
    </div>
  </div>

  <div class="row" style="margin-top: 10px; margin-bottom: 20px;">
    <div class="col-xs-6" style="padding-right: 2px;">
    {% if user.is_authenticated %}
    {% if user.role == "tutor" %}
    <a href="{% url 'main:information' user.id %}"><img class="img-rounded btn-index-img" src="{% static 'images/Student icon 1.png' %}" width=100% height=100%/></a>
    {% else %}
    <a href="{% url 'myAuth:signup' %}"><img class="img-rounded btn-index-img" src="{% static 'images/Student icon 1.png' %}" width=100% height=100%/></a>
    {% endif %}
    {% else %}
    <a href="{% url 'myAuth:signup' %}"><img class="img-rounded btn-index-img" src="{% static 'images/Student icon 1.png' %}" width=100% height=100%/></a>
    {% endif %}
    </div>

    <div class="col-xs-6" style="padding-left: 2px;">
    {% if user.is_authenticated %}
    {% if user.role == "student" %}
    <a href="{% url 'main:information' user.id %}"><img class="img-rounded btn-index-img" src="{% static 'images/Teacher icon 1.png' %}" width=100% height=100%/></a>
    {% else %}
    <a href="{% url 'myAuth:signup' %}"><img class="img-rounded btn-index-img" src="{% static 'images/Teacher icon 1.png' %}" width=100% height=100%/></a>
    {% endif %}
    {% else %}
    <a href="{% url 'myAuth:signup' %}"><img class="img-rounded btn-index-img" src="{% static 'images/Teacher icon 1.png' %}" width=100% height=100%/></a>
    {% endif %}
    </div>
  </div>
	
  
</div>
{% endblock %}
