{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
<title>User Information</title>
{% endblock %}

{% block content %}
{% for tutor in tutors %}
<div class="container">
	<div class="my-content">
		<h1>User Information</h1>
		<div class="row">
			<div class="col-xs-6">
				<p>Name:{{ tutor.name }}</p>
			</div>
			<div class="col-xs-6">
				<p>Gender:{{ tutor.gender }}</p>
			</div>
			<div class="col-xs-6">
				<p>{{ tutor.birth }}</p>
			</div>
			<div class="col-xs-6">
				<p>{{ tutor.email }}</p>
			</div>
			<div class="col-xs-6">
				<p>{{ tutor.phone }}</p>
			</div>
			<div class="col-xs-6">
				<p>{{ tutor.school }}</p>
			</div>
			<div class="col-xs-6">
				<p>{{ tutor.wechat }}</p>
			</div>
			<div class="col-xs-6">
				<p>{{ tutor.whatsapp }}</p>
			</div>
		</div>
	</div>
</div><!-- /.container -->
{% endfor %}
{% endblock %}
