{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
<title>User Information</title>
{% endblock %}

{% block content %}
<div class="container">
	<div class="my-content">
		<h1>User Information</h1>
		<div class="row">
			<div class="col-xs-6">
				<p>Name:{{ tutor.name }}</p>
			</div>
			<div class="col-xs-6">
				<p>Gender:{{ tutor.gender }}</p>
			</div>
			<div class="col-xs-6">
				<p>{{ tutor.birth }}</p>
			</div>
			<div class="col-xs-6">
				<p>{{ tutor.email }}</p>
			</div>
			<div class="col-xs-6">
				<p>{{ tutor.phone }}</p>
			</div>
			<div class="col-xs-6">
				<p>{{ tutor.school }}</p>
			</div>
			<div class="col-xs-6">
				<p>{{ tutor.wechat }}</p>
			</div>
			<div class="col-xs-6">
				<p>{{ tutor.whatsapp }}</p>
			</div>
		</div>
		<hr>
		
		<div class="row">
			<div class="col-xs-6">
				<p>middle test:{{ tutor.middle_test }}</p>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-6">
				{% for sub,score in middle_test_score.items %}
				<p>{{ sub }} : {{ score }}</p>
				{% endfor %}
			</div>
		</div>
		<hr>
		
		<div class="row">
			<div class="col-xs-6">
				<p>high test:{{ tutor.high_test }}</p>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-6">
				{% for sub,score in high_test_score.items %}
				<p>{{ sub }} : {{ score }}</p>
				{% endfor %}
			</div>
		</div>
		<hr>
		
		<div class="row">
			<div class="col-xs-6">
				<p>prefer teaching subjects:{{ tutor.prefer_teach }}</p>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-6">
				{% for level,sub in prefer_teach.items %}
				<p>{{ level }},{{ sub }}</p>
				{% endfor %}
			</div>
		</div>
		<hr>
		
		<div class="row">
			<div class="col-xs-6">
				<p>prefer teaching regions:</p>
			</div>
		</div>
		<div class="row">
			<div class="col-xs-6">
				{% for region in regions %}
				<p>{{ region }}</p>
				{% endfor %}
			</div>
		</div>
		<hr>
		
		<div class="row">
			<div class="col-xs-12">
				<p>{{ tutor.duration }}</p>
			</div>
			<div class="col-xs-12">
				<p>{{ tutor.num_taught }}</p>
			</div>
			<div class="col-xs-12">
				<p>{{ tutor.achievement }}</p>
			</div>
		</div>
		
		
		
		
		
		
		
		
	</div>
</div><!-- /.container -->
{% endblock %}
