{% extends 'base.html' %}
{% block title %}
<title>Login</title>
{% endblock %}
{% block content %}
<div class="container-fluid container-background">
  <div class="row">
    <div class="col-sm-7"></div>
    <div class="col-sm-4">
      <div class="container-login">
        <form class="form-login" action="{% url 'myAuth:login' %}" method="post">
          {% csrf_token %}
          <div class="form-group">
            <input class="form-control" id="id_username" maxlength="30" name="username" type="text" placeholder="Username" />
          </div>
          <div class="form-group">
            <input class="form-control" id="id_password" maxlength="128" name="password" type="password" placeholder="Password"/>
          </div>
          <input class="btn btn-default btn-login" type="submit" value="login"/>
          <input type="hidden" name="next" value="{{ next }}" />
          <p><br/>Please register now! It takes less than five minutes!</p>
          <a class="btn btn-default btn-signup" href="{% url 'myAuth:signup' %}">Register now</a>
        </form>
      </div>
    </div>
    <div class="col-sm-1"></div>
  </div>
</div>
{% endblock %}
