<!DOCTYPE html>
<html lang="zh-CN">
{% load staticfiles %}
  <body>
    <nav class="navbar navbar-fixed-top">
      <div class="container-fluid">
          <ul class="nav navbar-nav nav-self">
            <li><img class="logo" src="{% static 'EasyAce/images/logo.png' %}" align="left" /></li>
            <li class="active"><a href="">Home</a></li>
            <li><a href="/about">About Us</a></li>
            <li><a href="/contact">Contact Us</a></li>
            <li><a href="/student">For Student</a></li>
            <li><a href="/tutor">For Tutor</a></li>
            <li class="login"><a href="/auth/login"><img src="{% static 'EasyAce/images/login.png' %}"/></a></li>
            <li ><a href="/auth/login">Login</a></li>
          </ul>
        </div><!--/.nav-collapse -->
    </nav>

  </body>
</html>
