{% extends 'base.html' %}
{% block title %}
<title>Sign Up</title>
{% endblock %}



{% block content %}
<script type="text/javascript">
function check()
{
  if($("#id_role").val() == "")
  {
    document.getElementById("id_role").focus();
    return false;
  }
  if($("#id_username").val() == "")
  {
    document.getElementById("id_username").focus();
    return false;
  }
  if($("#id_password").val() == "")
  {
    document.getElementById("id_password").focus();
    return false;
  }
  if($("#id_password_again").val() == "")
  {
    document.getElementById("id_password_again").focus();
    return false;
  }
  if($("#id_password").val() != $("#id_password_again").val())
  {
    alert("Two password are different!");
    return false;
  }
}
</script>

<div class="container">
  <h1>Complete Your Information</h1>
  <form class="form-login" action="{% url 'myAuth:signup' %}" method="post" onsubmit="return check()">
    {% csrf_token %}
    <div class="form-group">
      <select class="form-control" id="id_role" name="role">
        <option value="" selected="selected">Are you a student or a tutor?</option>
        <option value="tutor">Tutor</option>
        <option value="student">Student</option>
      </select>
    </div>
    <div class="form-group">
        <input class="form-control" id="id_username" maxlength="30" name="username" type="text" placeholder="Username"/>
    </div>
    <div class="form-group">
      <input class="form-control" id="id_password" maxlength="128" name="password" type="password" placeholder="Password" />
    </div>
    <div class="form-group">
      <input class="form-control" id="id_password_again" maxlength="128" name="password" type="password" placeholder="Confirm Password" />
    </div>
     <input class="btn btn-default btn-login" type="submit" value="Sign Up"/>
  </form>
</div>

{% endblock %}
