{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
<title>User Information</title>
{% endblock %}

{% block view_tutor %}
class="active"
{% endblock %}


{% block content %}
<script src="{% static 'js/jquery-3.0.0.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/subjects.js' %}"></script>
<script type="text/javascript">
var search_word = new Array(5);

function search()
{
	if($("#id_tutor_location").val() == "")
	{
		document.getElementById("id_tutor_location").focus();
		return;
	}
	if($("#id_tutor_gender").val() == "")
	{
		document.getElementById("id_tutor_gender").focus();
		return;
	}
	if($("#id_level").val() == "")
	{
		document.getElementById("id_level").focus();
		return;
	}
	url = "{% url "main:view_tutor"%}?";
	url += search_word.join("&");
	while(url[url.length - 1]=="&")
		url = url.substring(0,url.length-1);
	window.location.href = url; 
}

$(function(){
	{% if tutors %}	
	var photo = document.getElementsByName("photo");
	for(i=0;i<photo.length;i++)
		photo[i].height = photo[i].width;
	var photo_height = photo[0].width;
	var container = document.getElementsByName("container");
	for(i=0;i<container.length;i++)
	{
		container[i].style.height = photo_height * 2.2 +"px";
	}
	for(i=0;i<photo.length;i++)
		photo[i].height = photo[i].width;
	{% endif %}




	$("#id_tutor_location").on("change", function(e) {
		var kw = $(this).val();
	 	search_word[0]= "region=" + kw;

	});
	$("#id_tutor_gender").on("change", function(e) {
		var kw = $(this).val();
	 	search_word[1] = "gender=" + kw;

	});

	$("#id_level").on("change", function(e){
		$("#num_subject_other").empty();
		if ($("#id_level").val()==""){
			$("#id_subject").empty();
			var option = $("<option>").val("").text("Select subject");
			$("#id_subject").append(option);
		}
		if ($("#id_level").val()=="PSLE"){
			Option_PSLE("#id_subject","");
		}
		if ($("#id_level").val()=="AEIS"){
			Option_AEIS("#id_subject","");
		}
		if ($("#id_level").val()=="O-LEVEL"){
			Option_OLEVEL("#id_subject","");
		}
		if ($("#id_level").val()=="A-LEVEL"){
			Option_ALEVEL("#id_subject","");
		}
		if ($("#id_level").val()=="IB (Middle Years Programme)"){
			Option_IB_MYP("#id_subject","");
		}
		if ($("#id_level").val()=="IB (Diploma Programme)"){
			Option_IB_DP("#id_subject","");
		}
		if ($("#id_level").val()=="Zhongkao"){
			Option_Zhongkao("#id_subject","");
		}
		if ($("#id_level").val()=="Gaokao"){
			Option_Gaokao("#id_subject","");
		}
		if ($("#id_level").val()=="SAT"){
			Option_SAT("#id_subject","");
		}
		if ($("#id_level").val()=="All level"){
			$("#id_subject").empty();
		}
		var subject_id = document.getElementById("id_subject");
		subject_id.options[0].value = "All";
		subject_id.options[0].text = "All Subjects";
		search_word[3] = "subject=All";
		
		var kw = $(this).val();
		search_word[2] = "level=" + kw;
		
		});

	$("#id_subject").change(function(){
		if ($(this).val()=="Other"){
			$("#num_subject_other").empty();
			$("#num_subject_other").append('<div class="form-group"> <select class="form-control" id="id_subject_other" name="subject_other"> <option value="" selected="selected">Select subject</option> </select> </div>');
			if ($("#id_level").val()=="O-LEVEL"){
				Option_OLEVEL_OTHER("#id_subject_other");
			}
			if ($("#id_level").val()=="A-LEVEL"){
				Option_ALEVEL_OTHER("#id_subject_other");
			}
			if ($("#id_level").val()=="IB (Middle Years Programme)"){
				Option_IB_MYP_OTHER("#id_subject_other");
			}
			if ($("#id_level").val()=="IB (Diploma Programme)"){
				Option_IB_DP_OTHER("#id_subject_other");
			}
		}
		else
		{
			$("#num_subject_other").empty();
		}

		var kw = $(this).val();
		search_word[3] = "subject=" + kw;
		
		});
		
		$(document).on("change", "#id_subject_other", function(){
			if ($(this).val()!=""){

				var kw = $(this).val();
				search_word[4] = "subject_other=" + kw;
			
			}
			});

		});
</script>

<div class="container">
	<div class="my-content">
		<h1 style="margin-top: 20px">View Tutor</h1>
			<div class="row">
				<div class="col-xs-4">
					<div class="form-group">
						<select class="form-control" id="id_tutor_location" name="tutor_location">
							<option value="">Preference Region</option>
							<option value="West">West</option>
							<option value="Central">Central</option>
							<option value="East">East</option>
							<option value="North West">North West</option>
							<option value="North">North</option>
							<option value="North East">North East</option>
							<option value="All">All Regions</option>
						</select>
					</div>
				</div>
				<div class="col-xs-4">
					<div class="form-group">
						<select class="form-control" id="id_tutor_gender" name="tutor_gender">
							<option value="">Tutor Gender</option>
							<option value="Male">Male</option>
							<option value="Female">Female</option>
							<option value="All">Both</option>
						</select>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-xs-4">
					<div class="form-group">
						<select class="form-control" id="id_level" name="level">
							<option value="" selected="selected">Select teaching level</option>
							<option value="PSLE">PSLE</option>
							<option value="AEIS">AEIS</option>
							<option value="O-LEVEL">O-LEVEL</option>
							<option value="A-LEVEL">A-LEVEL</option>
							<option value="IB (Middle Years Programme)">IB (Middle Years Programme)</option>
							<option value="IB (Diploma Programme)">IB (Diploma Programme)</option>
							<option value="Zhongkao">Zhongkao</option>
							<option value="Gaokao">Gaokao</option>
							<option value="SAT">SAT</option>
							<option value="All">All Level</option>
						</select>
					</div>
				</div>
				<div class="col-xs-4">
					<div class="form-group">
						<select class="form-control" id="id_subject" name="subject">
							<option value="" selected="selected">Select subject</option>
						</select>
					</div>
				</div>
				<div id="num_subject_other" class="col-xs-4"> </div>
			</div>

	
			<!--<a class="btn btn-default" id="search-btn" onclick="search()" href="{% url "main:view_tutor"%}">Search</a>-->
			<button class="btn btn-default" id="search-btn" onclick="search()">Search</button>
			<hr style="margin-bottom: 20px;">
			
			<div id="id_show_tutor">
				<div class="row">
					{% for tutor in tutors %}
					<div class="col-xs-4 col-sm-3" style="margin-top: 20px;">
						<div name="container" class="img-rounded show-tutor">
							<div style="margin: 0 10px">
								<a href="{% url 'main:information' tutor.base_info.id %}">
									<img name="photo" src="/photos/{{tutor.photo}}" class="img-rounded" width=100% style="margin-top: 10px" />
								</a>
								<h4 style="text-align: center">{{ tutor.name }}</h4>
								{% for sub in tutor.prefer_subs.all %}
								<p> {{sub.level}} {{ sub.name }} </p>
								{% endfor %}

							</div>
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
			<div class="pagination">
				<span class="step-links">
					{% if tutors.has_previous %}
						<a href="?page={{ tutors.previous_page_number }}">Previous</a>
					{% endif %}

					<span class="current">
						Page {{ tutors.number }} of {{ tutors.paginator.num_pages }}.
					</span>

					{% if tutors.has_next %}
						<a href="?page={{ ctutorontacts.next_page_number }}">Next</a>
					{% endif %}
				</span>
			</div>
	</div>
</div><!-- /.container -->
{% endblock %}
