{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}
<title>User Information</title>
{% endblock %}

{% block view_tutor %}
class="active"
{% endblock %}

{% block content %}
<div class="container">
	<div class="my-content">
		<h1>Help me find the tutor</h1>
		<h1>View Tutor</h1>
			<p>Use this document as a way to quickly start any new project.<br> All you get is this text and a mostly barebones HTML document.</p>
			{% for tutor in tutors %}
			<p>{{ tutor.name }}</p>
			{% endfor %}
	</div>
	<div class="row" style="margin-bottom: 300px"></div>
</div><!-- /.container -->
{% endblock %}
