{% extends 'base.html' %}
{% block title %}
<title>EasyAce Login</title>
{% endblock %}
 
{% block content %}
<div class="container">
  <h1>Input User Name and Password</h1>
  <form action="{% url 'myAuth:login' %}" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="Submit" />
  </form>
  <!--<form action="/login/" method="post">
  User: <input type="text" name="user"> <br>
  Password: <input type="text" name="password"> <br>
  <input type="submit" value="login">
  </form>-->
  <a href="/signup">sign up</a>
</div><!-- /.container -->
{% endblock %}
