{% extends "admin/change_form.html" %}  

{% block extrahead %}{{ block.super }}
<script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>
{% load staticfiles %}
<script src="{% static 'js/jquery-3.0.0.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/clipboard.min.js' %}"></script>  
<script type="text/javascript">

function get_student_information()
{
	student_tag = document.querySelector(".field-student_link").getElementsByTagName("a")[0].href;
	id = student_tag.split("/")[6];
	$.ajax({url:"/get_student_info/"+id,
			type:"post",
			datatype:"text",
			success: function(data){
				obj = jQuery.parseJSON(data);
				name = obj["name"];
				gender = obj["gender"];
				school = obj["school"];
				alert(name);
		
				
			},
			error: function(){
			}

		});
}

$(document).ready(function(){
	get_student_information();
	var clipboard = new Clipboard('.btn', {
		text: function(trigger) {
			var m_text = "";
			level = document.querySelector(".field-intent_level").getElementsByTagName("input")[0].value;
			subject = document.querySelector(".field-intent_subject").getElementsByTagName("input")[0].value;
			duration_per_lesson = document.querySelector(".field-intent_duration_per_lesson").getElementsByTagName("input")[0].value;
			lesson_per_week = document.querySelector(".field-intent_lesson_per_week").getElementsByTagName("input")[0].value;
			start_time = document.querySelector(".field-intent_start_time").getElementsByTagName("input")[0].value;
			if(start_time="Other")
				start_time = document.querySelector(".field-intent_start_time_other").getElementsByTagName("input")[0].value;

			m_text += "Level: " + level + "\n";
			m_text += "Subject: " + subject + "\n";
			m_text += "Time per Lesson: " + duration_per_lesson + "\n";
			m_text += "Lesson per Week: " + lesson_per_week + "\n";
			m_text += "Start Time: " + start_time + "\n";






			/*name = document.querySelector(".field-name").getElementsByTagName("p")[0].innerHTML;
			gender = document.querySelector(".field-gender").getElementsByTagName("p")[0].innerHTML;
			school = document.querySelector(".field-school").getElementsByTagName("p")[0].innerHTML;
			grade = document.querySelector(".field-grade").getElementsByTagName("p")[0].innerHTML;
			m_location = document.querySelector(".field-location").getElementsByTagName("p")[0].innerHTML;
			loc_nego = document.querySelector(".field-loc_nego").getElementsByTagName("p")[0].innerHTML;
			phone = document.querySelector(".field-phone").getElementsByTagName("p")[0].innerHTML;
			wechat = document.querySelector(".field-wechat").getElementsByTagName("p")[0].innerHTML;
			whatsapp = document.querySelector(".field-whatsapp").getElementsByTagName("p")[0].innerHTML;
			email = document.querySelector(".field-email").getElementsByTagName("p")[0].innerHTML;

			m_text += "Name: " + name + "\n";
			m_text += "Gender: " + gender + "\n";
			m_text += "School: " + school + "\n";
			m_text += "Grade: " + grade + "\n";
			m_text += "Location: " + m_location + "\n";
			m_text += "If Tuition Location Negotiable: " + loc_nego + "\n";
			m_text += "Phone Number: " + phone + "\n";
			m_text += "Wechat: " + wechat + "\n";
			m_text += "Whatsapp: " + whatsapp + "\n";
			m_text += "Email Address: " + email + "\n";*/

			return m_text;
	    }
	});
	clipboard.on('success', function(e) {
	    alert("Success copy to clipboard");
	});



	$("#id_startdate").focus(function(){
		start_date = $("#id_startdate").val();
		date_list = start_date.split("-");
		var myDate = new Date();
		myDate.setFullYear(date_list[0],date_list[1],date_list[2]);
		myDate.setDate(myDate.getDate()+28);
		charge_date = myDate.getFullYear() + "-" + myDate.getMonth() + "-" + myDate.getDate();
		document.getElementById("id_chargedate").value= charge_date;
		$("#id_chargedate").focus();
	});
	$("#id_chargedate").focus(function(){
		successful_match = document.getElementById("id_successful_match");
		successful_match.checked = true;
	});
});

</script>
{% endblock %}

{% block after_related_objects %}
<button type="button" class="btn" id="id_copy_key_data">
Collect Information for Tutor
</button>
{{ intent.intent_level }}
{% endblock %}


